* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'robotothin';
    src: url('/fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('/fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('/fonts/caviardreams-webfont.woff2') format('woff2'),
         url('/fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('/fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('/fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
    width: 100%;
}

.content, html{
    background-color: rgb(17, 17, 17);
}

.header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 90px;
    background-color: rgba(27, 27, 27, 0.97);
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
}

.content {
    margin-top: 90px;
}

.logo-container,
.search-container,
.icons-container {
    display: flex;
    align-items: center;
}

.logo-container {
    flex: 1;
    justify-content: center;
}

#logo {
    height: 70px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    align-self: center;
}

.search-container {
    flex: 3;
    justify-content: center;
}

#search-bar {
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(68, 0, 0);
    width:  60%;
    color: whitesmoke;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    box-shadow: inset 0 0 10px #14141496;
}

.icons-container {
    flex: 1;
    justify-content: flex-end;
}

#mode-text {
    color: whitesmoke;
    font-family: caviar_dreamsregular;
    font-size: 14px;
    width: 120px;
    margin-left: 70px;
    text-align: center;
}

#search-icon {
    height: 28px;
    cursor: pointer;
    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(68, 0, 0);
    padding: 4px 40px;
}

#profile-icon {
    height: 30px;
    margin-right: 60px;
    margin-left: 30px;
    cursor: pointer;
}

#upload-icon {
    height: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.scrollchannel {
    margin-bottom: 30px;
    width: 100%;
    height: 300px;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
    border-top: 1px solid rgba(53, 0, 0, 0.74)
}
  
.grid-element {
    display: inline-grid;
    color: black;
    text-align: center;
    padding-top: 80px;
    padding-left: 17px;
    padding-right: 17px;
    text-decoration: none;
}

.grid-element img {
    padding-top: 10px;
    height: 140px;
}

.grid-element h4 {
    color: whitesmoke;
    font-family: caviar_dreamsregular;
    padding-top: 15px;
    padding-bottom: 5px;
}

.grid-element p {
    color: whitesmoke;
    font-family: caviar_dreamsregular;
}

.left-scroll-arrow {
    background-color: rgba(17, 17, 17, 0.7);
    transform: rotate(90deg);
    left: 5px;
    margin-top: 140px;
    padding: 10px;
    height: 20px;
    font-family: caviar_dreamsbold;
    position: absolute;
    cursor: pointer;
}

.right-scroll-arrow {
    background-color: rgba(17, 17, 17, 0.7);
    transform: rotate(-90deg);
    right: 10px;
    margin-top: 140px;
    padding: 10px;
    height: 20px;
    font-family: caviar_dreamsbold;
    position: absolute;
    cursor: pointer;
}

#channel-name {
    color: whitesmoke;
    font-family: caviar_dreamsbold;
    font-size: 30px;
    position: absolute;
    margin-top: 25px;
    margin-left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

#profile-menu {
    position: absolute;
    right: 50px;
    top: 80px;
    width: 200px;
    height: 86px;
    background-color: rgba(27, 27, 27, 0.97);
    box-shadow: 0 0 1px rgb(0, 0, 0);
    display: none;
}

#profile-menu button {
    display: grid;
    width: 100%;
}

#profile-menu button:hover {
    background-color: rgba(73, 73, 73, 0.575);
}

#logout-button {
    color: whitesmoke;
    background-color: transparent;
    padding: 10px 10px;
    font-family: caviar_dreamsregular;
    background-color: rgb(68, 0, 0);
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(61, 61, 61);
}

#profile-button {
    color: whitesmoke;
    background-color: transparent;
    border: none;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: caviar_dreamsbold;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
}

 #mode-switch {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: 55px;
    height: 28px;
  }
  
  #mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #f6f6f6;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(68, 0, 0);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(68, 0, 0);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@media screen and (max-width: 1250px) {

    #mode-switch {
        width: 50px;
        height: 25px;
      }

    .slider:before {
        height: 18px;
        width: 18px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(23px);
        -ms-transform: translateX(23px);
        transform: translateX(23px);
    }

    .header {
        height: 80px;
    }

    #logo {
        height: 60px;
    }

    #channel-name {
        font-size: 24px;
    }

    #upload-icon {
        height: 25px
    }

    #profile-icon {
        height: 25px
    }
    .grid-element img {
        height: 100px;
    }

    .left-scroll-arrow {
        margin-top: 120px;
    }

    .right-scroll-arrow {
        margin-top: 120px;
    }

    .scrollchannel {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    #logo {
        height: 40px;
    }
}