* {
    margin: 0;
    padding: 0;
}

body {
    background: url("img/background/background_image.jpg") no-repeat  center fixed;
    background-size: cover;
}

@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.logo {
    text-align: center;
}

#logo {
    height: 200px;
}

#login-button {
    color: whitesmoke;
    background-color: rgb(91 15 15);
    border: 1px solid rgba(245, 245, 245, 0.5);
    width: 150px;
    height: 50px;
    padding: 10px 35px;
    border-radius: 4px;
    font-family: robotothin;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}

#login-button:hover {
    background-color: rgb(140 30 30);
}

#center-buttons {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 55px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

#main-content h1{
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    font-family: robotothin;
    letter-spacing: 8px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#form-logo {
    height: 100px;
}

.modal-content {
    width: 500px;
    height: 450px;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgba(95, 95, 95, 0.315);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

input {
    width: 70%;
    color: white;
    background-color: black;
    font-family: robotothin;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    border: 1px solid rgba(245, 245, 245, 0.5);
    display: block;
    margin: 60px auto;
    height: 40px;
    text-align: center;
}

#login-submit {
    color: whitesmoke;
    background-color: rgb(91 15 15);
    border: none;
    width: 140px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: robotothin;
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;
}

#login-submit:hover {
    background-color: rgb(140 30 30);
}

.close {
    color: whitesmoke;
    position: absolute;
    top: 9px;
    right: 23px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

#signup {
    color: black;
    background-color: whitesmoke;
    border: 1px solid rgba(245, 245, 245, 0.5);
    padding: 10px 40px;
    width: 150px;
    height: 50px;
    margin-right: 40px;
    border-radius: 4px;
    font-family: robotothin;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

#signup:hover {
    background-color: white;
}

#error-msg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 17 ,17, 0.71);
}

#error-text {
    font-family: robotothin;
    color: whitesmoke;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#error-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    padding: 20px 20px;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgba(56, 2, 2, 0.719);
}

#ok-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20%;
    width: 80px;
    padding: 5px 5px;
    color: whitesmoke;
    background-color: rgb(91 15 15);
    border: none;
    transform: translate(-50%);
    cursor: pointer;
}

#ok-button:hover {
    background-color: rgb(140 30 30);
}