* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviardreams-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#player {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
}

#center-container,
#left-container,
#right-container {
    display: flex;
}

#center-container {
    flex: 2;
    justify-content: center;
    flex-direction: column;
}

#current-time {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: caviar_dreamsbold;
    margin-left: 10px;
}

#center-icons {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#duration {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: caviar_dreamsbold;
    margin-right: 10px;
}

#left-container {
    flex: 1;
}

#right-container {
    flex: 1;
    justify-content: center;
}

#details-container {
    align-self: center;
    margin-left: 20px;
}

#thumbnail {
    height: 50px;
    width: 60px;
    object-fit: cover;
    margin-left: 20px;
    align-self: center;
}

#podcast-name {
    font-family: caviar_dreamsbold;
    font-size: 15px;
    margin-bottom: 7px;
}

#podcast-name:hover {
    text-decoration: none;
}

#podcast-channel {
    font-family: caviar_dreamsregular;
    font-size: 12px;
    cursor: pointer;
}

#podcast-name:hover {
    text-decoration: underline;
}

#podcast-channel:hover {
    text-decoration: underline;
}

#play-icon {
    height: 35px;
    margin-right: 40px;
    margin-left: 40px;
    cursor: pointer;
}

#next-icon {
    height: 15px;
    cursor: pointer;
}

#previous-icon {
    height: 15px;
    transform: rotate(180deg);
    cursor: pointer;
}

#slider {
   -webkit-appearance: none;
   appearance: none;
   width: 120px;
   height: 7px;
   border-radius: 5px;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
   align-self: center;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}
  
#slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
}

#center-icons-container,
#seek-container {
    display: flex;
    justify-content: center;
}

#center-icons-container {
    margin-bottom: 10px;
    height: 40px;
}

#seek-slider {
    width: 100%;
    height: 7px;
    border-radius: 4px;
}
  
#myBar {
    width: 0%;
    height: 7px;
    border-radius: 4px;
}

#speaker-icon {
    height: 20px;
    align-self: center;
    margin-right: 10px;
}

#mode-switch {
    position: relative;
    width: 55px;
    height: 28px;
    margin-right: 20px;
  }
  
  #mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #f6f6f6;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(68, 0, 0);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(68, 0, 0);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #mode-text {
    position: relative;
    font-family: caviar_dreamsregular;
    font-size: 14px;
    width: 120px;
    margin-right: 20px;
    text-align: center;
}