body {
    background-color: black;
}

.profile-cnt, html{
    background-color: rgb(17, 17, 17);
}

.icons-container {
    flex: 1;
    justify-content: center;
}

.tabs-container {
    border-top: 1px solid rgba(53, 0, 0, 0.74);
    border-bottom: 1px solid rgba(53, 0, 0, 0.74);
    background-color: rgba(27, 27, 27, 0.97);
}

.tabs-menu li {
    color: whitesmoke;
}

.tabs-menu li:hover {
    color: #991914;
}

.info-container {
    background-color: black;
}

.left-column {
    background-color: #00000090;
}

#subscribe-button {
    color: whitesmoke;
    background-color: rgb(68, 0, 0);
    border: 1px solid rgb(61, 61, 61);
}

#unsubscribe-button {
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(97, 97, 97);
}

#streams-container {
    border-top: 1px solid rgba(53, 0, 0, 0.74);
    border-bottom: 1px solid rgba(53, 0, 0, 0.74);
    background-color: rgba(27, 27, 27, 0.97);
}

#streams-container h3 {
    color: whitesmoke;
}

.grid-element-profile {
    color: black;
}

.grid-element-profile h4 {
    color: whitesmoke;
}

.grid-element-profile p {
    color: whitesmoke;
}

#channel-info li {
    color: whitesmoke;
}

#playlist {
    color: whitesmoke;
}

#some-podcasts {
    color: whitesmoke;
}

#username {
    color: whitesmoke;
}

#subs {
    background-color: rgb(35,35,35);
    color: white;
}