.profile-cnt, html{
    background-color: rgb(233, 233, 233);
}

#search-bar {
    background-color: whitesmoke;
    border: 1px solid rgb(68, 0, 0);
    color: black;
    box-shadow: inset 0 0 5px #a3a3a396;
}

.tabs-container {
    border-top: 1px solid rgba(53, 0, 0, 0.74);
    border-bottom: 1px solid rgba(53, 0, 0, 0.74);
    background-color: white;
}

.tabs-menu li:hover {
    color: #991914;
}

.info-container {
    background-color: black;
}

.left-column {
    background-color: #00000050;
}

#subscribe-button {
    color: whitesmoke;
    background-color: rgb(68, 0, 0);
    border: 1px solid rgb(61, 61, 61);
}

#unsubscribe-button {
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(97, 97, 97);
}

.right-column {
    background-color: #00000050;
}

.info li {
    color: whitesmoke;
}

.right-column h3, p {
    color: whitesmoke;
}

#streams-container {
    border-top: 1px solid rgba(53, 0, 0, 0.74);
    border-bottom: 1px solid rgba(53, 0, 0, 0.74);
    background-color: white;
}

.grid-element-profile:hover {
    background-color: #b9b9b975;
    border: 1px solid black;
}

.grid-element-profile {
    background-color: #ffffff96;
    border: 1px solid black;
}

.grid-element-profile p {
    color: black;
}

.podcast-title {
    color: black;
}

.pod-genre {
    color: white;
    background-color: rgb(52 52 52 / 70%);
}

.pod-streams {
    color: black;
}

#username {
    color: black;
}

#subs {
    background-color: rgb(35,35,35);
    color: white;
}

#playlist-name {
    color: black;
}

.grid-element-mod h4, p{
    color: whitesmoke
}

form #upload-submit-settings {
    color: whitesmoke;
    background-color: rgb(151, 0, 0);
}

form #podcast-title-settings {
    box-shadow: inset 0 0 3px rgb(39, 39, 39);
    border: 1px solid whitesmoke;
}

form #podcast-playlist-settings {
    box-shadow: inset 0 0 3px rgb(39, 39, 39);
    border: 1px solid whitesmoke;
}

#warning {
    color: #d90000;
}

#warning2 {
    color: #d90000;
}

#channels-container {
    background-color: rgb(233, 233, 233);
}

#channels {
    color: black;
}

#home {
    color: black;
}

.channel-btn {
    background-color: rgb(233 233 233 / 76%);
    color: black;
    border: 1px solid black;
}

.channel-btn:hover {
    background-color: rgb(106 106 106 / 76%);
    color: whitesmoke;
}

.playlist-podcasts-container {
    background-color: rgb(186 186 186 / 59%);
    border-bottom: 1px solid black;
}

.mod-btns-container {
    padding: 3px 0px;
    background: rgb(64 64 64);
}

.podcast-title-btn {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.playlist-settings-btn {
    background: #272727;
}