body {
    background-color: black;
}

.profile-cnt, html{
    background-color: rgb(17, 17, 17);
}

#search-bar {
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(68, 0, 0);
    color: black;
    box-shadow: inset 0 0 5px #14141496;
}

.icons-container {
    flex: 1;
    justify-content: center;
}

#search-icon {
    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(68, 0, 0);
}

#profile-menu {
    background-color: rgba(27, 27, 27, 0.97);
    box-shadow: 0 0 1px rgb(0, 0, 0);
}

#profile-menu button:hover {
    background-color: rgba(73, 73, 73, 0.575);
}

#logout-button {
    color: whitesmoke;
    background-color: rgb(68, 0, 0);
    border: 1px solid rgb(61, 61, 61);
}

#profile-button {
    color: whitesmoke;
}

.tabs-container {
    border-top: 1px solid rgba(53, 0, 0, 0.74);
    border-bottom: 1px solid rgba(53, 0, 0, 0.74);
    background-color: rgba(27, 27, 27, 0.97);
}

.tabs-menu li {
    color: whitesmoke;
}

.tabs-menu li:hover {
    color: #991914;
}

.info-container {
    background-color: black;
}

.left-column {
    background-color: #00000090;
}

#subscribe-button {
    color: whitesmoke;
    background-color: rgb(68, 0, 0);
    border: 1px solid rgb(61, 61, 61);
}

#unsubscribe-button {
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(97, 97, 97);
}

.right-column {
    background-color: #00000050;
}

.info li {
    color: whitesmoke;
}

.right-column h3, p {
    color: whitesmoke;
}

.views-container {
    border-top: 1px solid rgba(53, 0, 0, 0.74);
    border-bottom: 1px solid rgba(53, 0, 0, 0.74);
    background-color: rgba(27, 27, 27, 0.97);
}

.views-container h3 {
    color: whitesmoke;
}

.grid-element {
    color: black;
}}

.grid-element h4 {
    color: whitesmoke;
}

.grid-element p {
    color: whitesmoke;
}

.channel-info li {
    color: whitesmoke;
}