#podcast-container-search {
    border: 4px solid rgba(48, 48, 48, 0.57);
}

#podcasts-container {
    background: rgb(44 44 44);
}

#users-container {
    background: rgb(44 44 44);
}

#show-more {
    background-color: rgb(17, 17, 17);
    color: rgb(0, 127, 201);
}

.scrollchannel {
    background-color: rgb(24, 24, 24);
}

.grid-element-users h4 {
    color: whitesmoke;
}

.grid-element-users p {
    color: gray;
}