#podcasts-container{
    position: relative;
    font-family: caviar_dreamsbold;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding: 7px 0px;
    margin-top: 20px;
}

#search-word {
    font-family: caviar_dreamsbold;
    padding: 20px 40px;
    font-size: 24px;
}

#users-container{
    position: relative;
    font-family: caviar_dreamsbold;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding: 7px 0px;
}

#podcast-search {
    display: flex;
    padding-top: 10px;
    padding-bottom: 7px;
}

#podcast-container-search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.podcast-title-search {
    display: -webkit-box;
    font-family: 'caviar_dreamsbold';
    height: 50px;
    font-size: 18px;
    -webkit-line-clamp: 2;
    line-height: 23px;
    overflow-y: hidden;
    max-height: 36px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
}

.channel-name-search {
    color: whitesmoke;
    font-family: 'caviar_dreamsbold';
    font-size: 15px;
    margin-top: 7px;
    padding: 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.playlist-search {
    font-family: 'caviar_dreamsbold';
    font-size: 13px;
    margin-bottom: 7px;
    padding: 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.genre-search {
    font-family: 'caviar_dreamsbold';
    font-size: 13px;
    margin-bottom: 7px;
    padding: 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.podcast-img-search {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.podcast-streams-search {
    font-family: 'caviar_dreamsregular';
    font-size: 12px;
    width: 100%;
}

.grid-element-btn-search {
    width: 220px;
    margin: 20px 30px;
    padding: 10px;
}

.grid-element-users {
    display: inline-grid;
    text-align: center;
    margin: 0px 20px;
    margin-top: 10px;
    text-decoration: none;
}

.grid-element-users:hover {
    cursor: pointer;
}

.grid-element-users img {
    margin-top: 20px;
    height: 140px;
    width: 200px;
    justify-self: center;
    border: 2px solid gray;
    background-color: black;
    object-fit: cover;
    justify-self: center;
}

.grid-element-users h4 {
    font-family: caviar_dreamsregular;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 22px;
}

.grid-element-users p {
    font-family: caviar_dreamsregular;
    margin-bottom: 20px;
    font-size: 14px;
}

#scrollchannel {
    display: flex;
    margin-top: 10px;
    overflow: auto;
}