#podcasts-container {
    background: rgb(64 0 0);
}

#users-container {
    background: rgb(64 0 0);
}

#show-more {
    background-color: #dfdfdf;
    color: rgb(103, 188, 236);
}

.scrollchannel {
    background-color: #dfdfdf;
}

.grid-element-users h4 {
    color: black;
}

.grid-element-users p {
    color: black;
}