#podcasts-container{
    position: relative;
    font-family: caviar_dreamsbold;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding: 7px 0px;
}

#users-container{
    position: relative;
    font-family: caviar_dreamsbold;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding: 7px 0px;
    margin-top: 20px;
}

#podcast-search {
    display: flex;
    padding-top: 10px;
    padding-bottom: 7px;
}

#podcast-left-container-search {
    width: 50%;
    margin-left: 20px;
}

#podcast-right-container-search {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

#channel-name-search {
    color: whitesmoke;
    margin-left: 20px;
    font-family: 'caviar_dreamsbold';
    font-size: 18px;
    padding: 7px 10px;
    background-color: black;
}

.grid-element-users {
    display: inline-grid;
    text-align: center;
    margin: 0px 20px;
    margin-top: 10px;
    text-decoration: none;
}

.grid-element-users:hover {
    cursor: pointer;
}

.grid-element-users img {
    margin-top: 20px;
    height: 140px;
    width: 200px;
    justify-self: center;
    border: 2px solid gray;
    background-color: black;
    object-fit: cover;
    justify-self: center;
}

.grid-element-users h4 {
    font-family: caviar_dreamsregular;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 22px;
}

.grid-element-users p {
    font-family: caviar_dreamsregular;
    margin-bottom: 20px;
    font-size: 14px;
}

#scrollchannel {
    display: flex;
    margin-top: 10px;
    overflow: auto;
}