@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviardreams-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: url("img/background/background_image.jpg") no-repeat  center fixed;
    background-size: cover;
}

#form-logo {
    height: 100px;
    margin-top: 20px;
}

#main-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#form-container {
    width: 500px;
    text-align: center;
}

input {
    width: 100%;
    color: white;
    background-color: black;
    box-shadow: inset 0 0 3px rgb(39, 39, 39);
    font-family: robotothin;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid rgba(245, 245, 245, 0.5);
    display: block;
    margin: 60px auto;
    height: 45px;
    text-align: center;
}

#signup-submit {
    border: 1px solid rgba(245, 245, 245, 0.5);
    width: 150px;
    height: 50px;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'caviar_dreamsbold';
    color: whitesmoke;
    background-color: #530000;
    cursor: pointer;
}

#signup-submit:hover {
    background-color: rgb(140 30 30);
}

#back {
    color: black;
    background-color: whitesmoke;
    margin-right: 40px;
    border: 1px solid rgba(245, 245, 245, 0.5);
    width: 150px;
    height: 50px;
    padding: 13px 44px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'caviar_dreamsbold';
    cursor: pointer;
    text-decoration: none;
}

#error-msg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 17 ,17, 0.71);
    z-index: 999;
}

#error-text {
    font-family: robotothin;
    color: whitesmoke;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#error-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    padding: 20px 20px;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgba(56, 2, 2, 0.719);
}

#ok-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 12%;
    width: 80px;
    padding: 10px 9px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'caviar_dreamsbold';
    color: whitesmoke;
    background-color: #530000;
    border: 1px solid rgba(245, 245, 245, 0.5);
    cursor: pointer;
    transform: translate(-50%);
}

#ok-button:hover {
    background-color: rgb(140 30 30);
}

#warning-pwd {
    font-family: robotothin;
    text-align: center;
    color: #ffffff;
    background: #4f0000;
    padding: 10px;
    border-radius: 10px;
}

#pwd {
    margin-top: 20px;
    margin-bottom: 10px;
}

#pwd-repeat {
    margin-top: 10px;
}

#username {
    margin-top:30px;
    margin-bottom: 10px;
}

#email {
    margin-top: 10px;
    margin-bottom: 20px;
}

#warning-user {
    font-family: robotothin;
    text-align: center;
    color: rgb(202, 202, 202);
    padding: 10px;
    border-radius: 10px;
}