@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: url("img/background/background_image.jpg") no-repeat  center fixed;
    background-size: cover;
}

#form-logo {
    height: 100px;
}

.modal-content {
    width: 500px;
    height: 450px;
    text-align: center;
    padding: 20px;
    margin-left: 50%;
    transform: translate(-50%);
}

input {
    width: 100%;
    color: white;
    background-color: black;
    box-shadow: inset 0 0 3px rgb(39, 39, 39);
    font-family: robotothin;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid rgba(245, 245, 245, 0.5);
    display: block;
    margin: 60px auto;
    height: 45px;
    text-align: center;
}

#signup-submit {
    color: whitesmoke;
    background-color: rgb(151, 0, 0);
    box-shadow: inset 0 0 10px rgba(56, 2, 2, 0.719);
    border: 1px solid rgba(245, 245, 245, 0.5);
    width: 150px;
    padding: 10px 35px;
    border-radius: 4px;
    font-family: robotothin;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}

#back {
    color: black;
    background-color: whitesmoke;
    border: 1px solid rgba(245, 245, 245, 0.247);
    padding: 10px 40px;
    margin-right: 40px;
    border-radius: 4px;
    font-family: robotothin;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}