@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviardreams-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

#form-logo {
    height: 100px;
}

#logo {
    cursor: pointer;
    height: 70px;
}

#logo-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#form-container{
    width: 500px;
    left: 50%;
    text-align: center;
    margin: 20px auto;
    padding: 20px 20px;
}

label {
    font-family: robotothin;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-top: 40px;
    text-align: left;
}

input {
    font-family: robotothin;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    display: inline;
    text-align: left;
}

#podcast-title {
    width: 60%;
    font-family: robotothin;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    display: block;
    margin: 40px auto;
    height: 40px;
    text-align: center;
}

#podcast-playlist {
    width: 60%;
    font-family: robotothin;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    display: block;
    margin: 40px auto;
    height: 40px;
    text-align: center;
}

#upload-submit {
    font-family: 'caviar_dreamsbold';
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    border: none;
}

#upload-submit-ch {
    font-family: 'caviar_dreamsbold';
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    border: none;
}

#audio-file, #img-file {
    font-family: robotothin;
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;
    margin-left: 15px;
}

#genre-menu {
    display: block;
    width: 50%;
    margin: 30px auto;
    text-align: center;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 4px;
}

#warning {
    font-family: robotothin;
}

#warning2 {
    font-family: robotothin;
}

#error-msg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#error-text {
    font-family: robotothin;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#error-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 400px;
    padding: 20px 20px;
}

#ok-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20%;
    width: 80px;
    padding: 5px 5px;
    border: none;
    transform: translate(-50%);
    cursor: pointer;
}
